*{
    margin-bottom: 10px;
}

header{
    background-color: darkblue;
    color: white;
    text-align:center;
}

nav {
    background-color: lightblue
}

header nav ul{
    display: flex;
    align-items: center;
    min-width: 300px;
    justify-content: center;
    list-style-type: none;
}

header nav ul a{
    color: blue;
    margin: 20px 20px 40px 0px;
    font-weight: bold;
    text-decoration: none;
}

header nav ul a:hover{
    color:aqua
}

.AboutMe {
  color: darkblue;
  border-bottom: darkblue 2px solid;
}

.card {
  display:flex;
}

.border {
  border: 5px solid darkblue;
}

.resize {
    width: 200px;
    height: auto;
}

@media screen and (max-width: 992px) {
    header {
      background: darkred;
    }
  }

@media screen and (max-width 700px) {
    nav{
      background: lightcoral;
    }
    footer {
      background: lightcoral;
    }
}

footer {
    background-color: lightblue;
    display:flex;
    color: darkblue;
}

footer nav ul {
  display: flex;
  align-items: right;
  min-width: 300px;
  justify-content: right;
  list-style-type: none;
}

footer nav ul a {
  color: blue;
  margin: 20px 20px 40px 0px;
  font-weight: bold;
  text-decoration: none;
}